#s1_app-heading{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    background-color: silver;
    color: white;
}

.hide-item{
    display: none;
}
.task-done{
    text-decoration: line-through;
}
#s3_todo-list{
    grid-area: s3_todo-list;
}
#s2_add-item-form{
    grid-area: s2_add-item-form;
}
.shift-right{
    transform: translateX(100%);
}
.already-exists{
    border: 2px solid red;
}
/*.layout-grid{
    background: url('https://static.skillshare.com/uploads/project/5d295996bf2f02926011f3c99bd67869/7278d5fd') center no-repeat;
    background-size: cover
}*/

@media (min-width: 650px){
    .layout-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "s3_todo-list s2_add-item-form"
    }
    
    #s3_todo-list{
        height: 70vh;
        overflow-y: scroll;
    }
    
}

